<h1>Stupid Coaching</h1>
<div class="container">
  <div class="alert p-2 m-2">
  <p><strong><%= params[:question] %></strong></p>
  <em>-You</em>
</div>
<div class="alert alert-warning p-2 m-2">
  <% if params[:question] == "I am going to work" %>
    <p><strong><%= "Great!" %></strong></p>
  <% elsif params[:question].include?("?") %>
    <p><strong><%="Silly question, get dressed and go to work!" %></strong></p>
  <%else%>
    <p><strong><%="I don't care, get dressed and go to work!" %></strong></p>
  <% end %>
  <em>-Your coach</em>
</div>

</div>
